<div class="profile-container" *ngIf="duenio">
  <mat-tab-group>
    <!-- Tab for the "Dueño" information -->
    <mat-tab label="Dueño">
      <div class="profile-details">
        <div class="profile-photo">
          <img src="assets/default-photo.png" alt="Foto del Dueño" class="profile-img" />
        </div>

        <div class="profile-info">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="duenio.nombre" placeholder="Nombre del Dueño" [disabled]="disableFields" />

          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" [(ngModel)]="duenio.apellido" placeholder="Apellido del Dueño" [disabled]="disableFields" />

          <label for="telefono">Contacto:</label>
          <input type="text" id="telefono" [(ngModel)]="duenio.telefono" placeholder="Número de contacto" [disabled]="disableFields" />

          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="duenio.email" placeholder="Email del Dueño" [disabled]="disableFields" />

          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" [(ngModel)]="duenio.direccion" placeholder="Dirección del Dueño" [disabled]="disableFields" />

          <label for="fecha-creacion">Fecha de Creación:</label>
          <input type="date" id="fecha-creacion" [(ngModel)]="duenio.fechaCreacion" [disabled]="disableFields" />

          <div class="botons-style">
           <button class="save-button" (click)="saveDuenio()" >Guardar</button>
            <button 
                      class="toggle-button"
                      [ngClass]="{ 'inactive': duenio.idestado === 0, 'active': duenio.idestado === 1 }"
                      (click)="duenio.idestado = duenio.idestado === 1 ? 0 : 1">
                      {{ duenio.idestado === 1 ? 'Desactivar' : 'Activar' }}
                    </button>

            </div>
        </div>
      </div>

  
    </mat-tab>

    <!-- Tab for the "Mascotas" information -->
    <mat-tab label="Mascotas">
      <div class="mascotas-section">
        <!-- Mostrar las mascotas en tarjetas si no estamos en detalle -->
        <div *ngIf="!selectedMascota"  class="mascotas-cards">
          <h3>Mascotas asociadas al dueño:</h3>
          <button class="add-mascota-button" mat-button (click)="openMascotaModal()">Añadir Mascota</button>
          <div class="card-container">
            <div class="card"    [ngClass]="{ 'inactive-card': mascota.idEstado === 0 }" *ngFor="let mascota of mascotas">
              <div class="card-info">
                <h4>{{ mascota.nombre }}</h4>
                <p>{{ mascota.especie }} - {{ mascota.edad }} años</p>
                <button (click)="viewMascotaDetail(mascota)">Ver Detalle</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Mostrar el detalle de la mascota seleccionada -->
        <div *ngIf="selectedMascota" class="mascota-detail">
          <h3>Detalle de la mascota:</h3>
          <div class="profile-details">
              <div class="profile-photo">
                <img src="assets/default-photo.png" alt="Foto de {{ selectedMascota.nombre }}" class="card-img" />
              </div>
              <div class="profile-info">
                <label for="mascota-nombre">Nombre:</label>
                <input type="text" id="mascota-nombre" [(ngModel)]="selectedMascota.nombre" [disabled]="disableFields" />

                <label for="mascota-especie">Especie:</label>
                <input type="text" id="mascota-especie" [(ngModel)]="selectedMascota.especie" [disabled]="disableFields" />

                <label for="mascota-edad">Edad:</label>
                <input type="number" id="mascota-edad" [(ngModel)]="selectedMascota.edad" [disabled]="disableFields" />

                <label for="mascota-fecha-registro">Fecha de Registro:</label>
                <input type="date" id="mascota-fecha-registro" [(ngModel)]="selectedMascota.fecharegistro" [disabled]="disableFields" />
                <div class="botons-style">
                    <button class="save-button" (click)="saveMascota()" >Guardar</button>
                    <button 
                      class="toggle-button"
                      [ngClass]="{ 'inactive': selectedMascota.idEstado }"
                      (click)="selectedMascota.idEstado = selectedMascota.idEstado === 1 ? 0 : 1">
                      {{ selectedMascota.idEstado === 1 ? 'Desactivar' : 'Activar' }}
                    </button>

              </div>
          </div>
          </div>
         
         

          

          <!-- Botón para regresar a las tarjetas -->
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
