<div *ngIf="showForm" class="mascota-detail">
  <!-- Imagen de perfil -->
  <div class="profile-details">
            
      <div class="profile-photo">
        <img src="path/to/logo.png" alt="Logo de Perfil" />
      </div>
      <div class="profile-info">

      <h3>Añadir nueva mascota</h3>
      <form (ngSubmit)="submitForm()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="newMascota.nombre" name="nombre" required />

        <label for="edad">Edad:</label>
        <input type="number" id="edad" [(ngModel)]="newMascota.edad" name="edad" required />

        <label for="especie">Especie:</label>
        <input type="text" id="especie" [(ngModel)]="newMascota.especie" name="especie" required />

        <label for="fecharegistro">Fecha de Registro:</label>
        <input type="date" id="fecharegistro" [(ngModel)]="newMascota.fecharegistro" name="fecharegistro" required />

        <!-- Asignamos dueñoId y idEstado automáticamente (esto puede ser ajustado según el flujo de la app) -->
        <input type="hidden" [(ngModel)]="newMascota.duenioId" [value]="newMascota.duenioId" name="dueñoId" />
        <input type="hidden" [(ngModel)]="newMascota.idEstado" [value]="newMascota.idEstado" name="idEstado" />

        <button class="save-button" mat-button type="submit">Registrar Mascota</button>
      </form>
      </div>
   </div>
</div>
