<!-- src/app/components/duenio/duenio.component.html -->

<div *ngIf="showForm" class="mascota-detail">
  <div class="profile-details">
    <!-- Logo -->
    <div class="profile-photo">
      <img src="path/to/logo.png" alt="Logo de Perfil" />
    </div>

    <!-- Formulario -->
    <div class="profile-info">
      <h3>Añadir nueva mascota</h3>

      <form (ngSubmit)="submitForm()" #mascotaForm="ngForm">
        <!-- Nombre -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="newMascota.nombre"
            required
          />
        </mat-form-field>

        <!-- Edad -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Edad</mat-label>
          <input
            matInput
            type="number"
            id="edad"
            name="edad"
            [(ngModel)]="newMascota.edad"
            required
          />
        </mat-form-field>

        <!-- Especie -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Especie</mat-label>
          <mat-select
            name="especie"
            [(ngModel)]="newMascota.especie"
            required
          >
            <mat-option
              *ngFor="let especie of especiesComunes"
              [value]="especie"
            >
              {{ especie }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Fecha de Registro -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fecha de Registro</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="newMascota.fecharegistro"
            name="fecharegistro"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Campos ocultos -->
        <input
          type="hidden"
          name="duenioId"
          [(ngModel)]="newMascota.duenioId"
        />
        <input
          type="hidden"
          name="idEstado"
          [(ngModel)]="newMascota.idEstado"
        />

        <!-- Botón de enviar -->
        <div class="botons-style">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="mascotaForm.invalid"
          >
            Registrar Mascota
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
