body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6faf8;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

.center-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.login-container {
  min-width: 320px;
  max-width: 370px;
  padding: 36px 32px 20px 32px;
  background: #fff;
  border-radius: 28px;
  box-shadow: 0 8px 36px rgba(0,0,0,0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vet-logo img.logo-img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  /*margin-bottom: 8px;*/
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vet-logo {
  font-size: 48px;
  margin-bottom: 8px;
  color: #4d7bb6;
  user-select: none;
}

.login-container h2 {
  margin-bottom: 22px;
  color: #2d3a4b;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  margin-top: 14px;
  color: #2d3a4b;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

input {
  padding: 11px 13px;
  border: 1.5px solid #b2cbdf;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 6px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  background: #f8fafd;
}

input:focus {
  border-color: #6C8CA3;
  box-shadow: 0 0 0 2px #b2c6df;
}

button[type="submit"] {
  margin-top: 18px;
  padding: 12px 0;
  background: linear-gradient(90deg, #416785 60%, #6C8CA3 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(77,182,172,0.08);
  letter-spacing: 0.5px;
}

button[type="submit"]:hover {
  background: linear-gradient(90deg, #5e95c0 60%, rgb(138, 187, 224) 100%);
  box-shadow: 0 4px 16px rgba(77,182,172,0.13);
}