<header class="app-header">
  <!-- Logo a la izquierda -->
  <div class="logo">
    <img src="/logoVetTracePng.png" alt="Logo" />
  </div>

  <!-- Centro: Nombre de la veterinaria -->
  <div class="header-center">
    <span class="nombre-veterinaria">{{ nombreVeterinaria }}</span>
  </div>

  <!-- Menú de usuario a la derecha -->
  <nav class="nav-bar">
    <button
      class="nav-toggle"
      [attr.aria-expanded]="dropdownOpen"
      aria-controls="nav-menu"
      (click)="toggleDropdown()"
      aria-haspopup="true"
      type="button"
    >
      Bienvenido {{ usuario?.nombre || 'Usuario' }}
    </button>

    <div
      id="nav-menu"
      class="nav-menu"
      [class.show]="dropdownOpen"
      tabindex="0"
      (blur)="closeDropdown()"
    >
      <a  (click)="OpenPerfil()">Perfil</a>
      <a  *ngIf="esAdmin() || esUsuario()" (click)="OpenPanel()">Panel Administrador</a>
      <a href="#" (click)="logout()">Cerrar sesión</a>
    </div>
  </nav>
</header>
