<div class="profile-container">
  <form #doctorForm="ngForm">
    <div class="profile-details">
      <!-- Columna para la Foto -->
      <div class="profile-photo">
        <img src="assets/default-photo.png" alt="Foto del Doctor" class="profile-img" />
      </div>

      <!-- Columna para la Información del Doctor -->
      <div class="profile-info">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="doctor.nombre" placeholder="Nombre del Doctor" [readonly]="disableFields" required pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$" #nombre="ngModel" />

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" [(ngModel)]="doctor.apellido" placeholder="Apellido del Doctor" [readonly]="disableFields" required pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$" #apellido="ngModel" />

        <label for="contacto">Contacto:</label>
        <input type="text" id="contacto" name="contacto" [(ngModel)]="doctor.telefono" placeholder="Número de contacto" [readonly]="disableFields" required pattern="^[0-9]+$" #contacto="ngModel" />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="doctor.email" placeholder="Email del Doctor" [readonly]="disableFields" required #email="ngModel" />

        <label for="fecha-registro">Fecha de Registro:</label>
        <input type="date" id="fecha-registro" name="fechaRegistro" [(ngModel)]="doctor.fecharegistro" [readonly]="disableFields" required #fechaRegistro="ngModel" />

        <label for="cmvp">CMVP:</label>
        <input type="text" id="cmvp" name="cmvp" [(ngModel)]="doctor.cmvp" placeholder="Número CMVP" [readonly]="disableFields" required pattern="^[0-9]+$" #cmvp="ngModel" />
      </div>
    </div>

    <div class="footer">
      <button class="save-button" (click)="saveDoctor()" [disabled]="disableFields || doctorForm.invalid" type="submit">Guardar</button>
      <button class="toggle-button" [ngClass]="{'inactive': disableFields, 'active': !disableFields}" (click)="toggleDisable()" type="button">
        {{ disableFields ? 'Desactivar' : 'Activar' }}
      </button>
    </div>
  </form>
</div>
