<!-- src/app/component/doctor/doctor.component.html -->

<div class="profile-container">
  <form #doctorForm="ngForm" (ngSubmit)="saveDoctor()">
    <div class="profile-details">
      <!-- Columna para la Foto -->
      <div class="profile-photo-container">
        <div class="profile-photo-wrapper">
          <!-- Imagen nueva -->
          <img
            *ngIf="previewUrl"
            [src]="previewUrl"
            alt="Vista previa"
            class="profile-photo-img"
          />

          <!-- Imagen existente -->
          <img
            *ngIf="!previewUrl && doctor.rutaimagen"
            [src]="'http://102.37.216.79:80' + doctor.rutaimagen"
            alt="Imagen actual"
            class="profile-photo-img"
          />
        </div>

        <!-- Input -->
        <input
          type="file"
          id="fileUpload"
          class="profile-photo-input"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div>

      <!-- Columna para la Información del Doctor -->
      <div class="profile-info">
        <!-- Nombre -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="doctor.nombre"
            [readonly]="disableFields"
            required
            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
            placeholder="Nombre del Doctor"
            #nombre="ngModel"
            [ngClass]="{ 'is-invalid': nombre.invalid && nombre.touched }"
          />
          <mat-error *ngIf="nombre.invalid && nombre.touched">
            <span *ngIf="nombre.errors">El nombre es obligatorio.</span>
            <span *ngIf="nombre.errors">El nombre solo debe contener letras y espacios.</span>
          </mat-error>
        </mat-form-field>

        <!-- Apellido -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            type="text"
            id="apellido"
            name="apellido"
            [(ngModel)]="doctor.apellido"
            [readonly]="disableFields"
            required
            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
            placeholder="Apellido del Doctor"
            #apellido="ngModel"
            [ngClass]="{ 'is-invalid': apellido.invalid && apellido.touched }"
          />
          <mat-error *ngIf="apellido.invalid && apellido.touched">
            <span *ngIf="apellido.errors">El apellido es obligatorio.</span>
            <span *ngIf="apellido.errors">El apellido solo debe contener letras y espacios.</span>
          </mat-error>
        </mat-form-field>

        <!-- Contacto (Teléfono) -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contacto (Teléfono)</mat-label>
          <input
            matInput
            type="tel"
            id="contacto"
            name="contacto"
            [(ngModel)]="doctor.telefono"
            [readonly]="disableFields"
            required
            pattern="^[0-9]{9}$"
            placeholder="Número de contacto (9 dígitos)"
            #contacto="ngModel"
            [ngClass]="{ 'is-invalid': contacto.invalid && contacto.touched }"
          />
          <mat-error *ngIf="contacto.invalid && contacto.touched">
            <span *ngIf="contacto.errors">El número de contacto es obligatorio.</span>
            <span *ngIf="contacto.errors">El número de contacto debe tener exactamente 9 dígitos numéricos.</span>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            [(ngModel)]="doctor.email"
            [readonly]="disableFields"
            required
            email
            placeholder="Email del Doctor (ej: nombre&#64;dominio.com)"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
          />
          <mat-error *ngIf="email.invalid && email.touched">
            <span *ngIf="email.errors">El correo electrónico es obligatorio.</span>
            <span *ngIf="email.errors">El correo debe tener un formato válido (ej: nombre&#64;dominio.com).</span>
          </mat-error>
        </mat-form-field>

        <!-- Género -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Género</mat-label>
          <mat-select [(ngModel)]="doctor.genero" name="sexo" required #generoSelect="ngModel">
            <mat-option *ngFor="let g of genero" [value]="g">{{ g }}</mat-option>
          </mat-select>
          <mat-error *ngIf="generoSelect.invalid && generoSelect.touched">
            El género es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- CMVP -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CMVP</mat-label>
          <input
            matInput
            type="text"
            id="cmvp"
            name="cmvp"
            [(ngModel)]="doctor.cmvp"
            [readonly]="disableFields"
            required
            pattern="^[0-9]+$"
            placeholder="Número de Colegiatura"
            #cmvp="ngModel"
            [ngClass]="{ 'is-invalid': cmvp.invalid && cmvp.touched }"
          />
          <mat-error *ngIf="cmvp.invalid && cmvp.touched">
            <span *ngIf="cmvp.errors">El número CMVP es obligatorio.</span>
            <span *ngIf="cmvp.errors">El CMVP solo debe contener números.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="footer">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!nombre.valid || !apellido.valid || !contacto.valid || !email.valid || !generoSelect.valid || !cmvp.valid"
      >
        Guardar
      </button>
      <button
        mat-flat-button
        [ngClass]="{ 'inactive': doctor.id_estado === 0, 'active': doctor.id_estado === 1 }"
        (click)="toggleDisable()"
        type="button"
      >
        {{ doctor.id_estado === 1 ? 'Desactivar' : 'Activar' }}
      </button>
    </div>
  </form>
</div>