<div class="profile-container">
  <form #doctorForm="ngForm" (ngSubmit)="saveDoctor()">
    <div class="profile-details">
      <!-- Columna para la Foto -->
     <!-- Foto del Doctor -->
      
 <!-- 📷 Sección de foto -->
      <div class="profile-photo-container">
  <div class="profile-photo-wrapper">
    <!-- Imagen nueva -->
    <img
      *ngIf="previewUrl"
      [src]="previewUrl"
      alt="Vista previa"
      class="profile-photo-img"
    />

    <!-- Imagen existente -->
    <img
      *ngIf="!previewUrl && doctor.rutaimagen"
      [src]="'http://102.37.216.79:80' + doctor.rutaimagen"
      alt="Imagen actual"
      class="profile-photo-img"
    />
  </div>

  <!-- Input -->
  <input
    type="file"
    id="fileUpload"
    class="profile-photo-input"
    (change)="onFileSelected($event)"
    accept="image/*"
  />
</div>



      <!-- Columna para la Información del Doctor -->
      <div class="profile-info">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="doctor.nombre"
            [readonly]="disableFields"
            required
            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
            #nombre="ngModel"
          />
          <mat-error *ngIf="nombre.invalid && nombre.touched">
            El nombre es obligatorio y solo debe contener letras
          </mat-error>
        </mat-form-field>

        <!-- Apellido -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            type="text"
            id="apellido"
            name="apellido"
            [(ngModel)]="doctor.apellido"
            [readonly]="disableFields"
            required
            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
            #apellido="ngModel"
          />
          <mat-error *ngIf="apellido.invalid && apellido.touched">
            El apellido es obligatorio y solo debe contener letras
          </mat-error>
        </mat-form-field>

        <!-- Contacto -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contacto</mat-label>
          <input
            matInput
            type="text"
            id="contacto"
            name="contacto"
            [(ngModel)]="doctor.telefono"
            [readonly]="disableFields"
            required
            pattern="^[0-9]+$"
            #contacto="ngModel"
          />
          <mat-error *ngIf="contacto.invalid && contacto.touched">
            El número de contacto es obligatorio y solo debe contener números
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            [(ngModel)]="doctor.email"
            [readonly]="disableFields"
            required
            #email="ngModel"
          />
          <mat-error *ngIf="email.invalid && email.touched">
            El correo electrónico es obligatorio y debe ser válido
          </mat-error>
        </mat-form-field>

        <!-- Género -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Género</mat-label>
          <mat-select [(ngModel)]="doctor.genero" name="sexo" required>
            <mat-option *ngFor="let g of genero" [value]="g">{{ g }}</mat-option>
          </mat-select>
          <mat-error *ngIf="doctor.genero === '' && doctor.genero !== null">
            El género es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- CMVP -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>CMVP</mat-label>
          <input
            matInput
            type="text"
            id="cmvp"
            name="cmvp"
            [(ngModel)]="doctor.cmvp"
            [readonly]="disableFields"
            required
            pattern="^[0-9]+$"
            #cmvp="ngModel"
          />
          <mat-error *ngIf="cmvp.invalid && cmvp.touched">
            El número CMVP es obligatorio y solo debe contener números
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="footer">
      <button mat-flat-button color="primary" type="submit" [disabled]="doctorForm.invalid">
        Guardar
      </button>
      <button
        mat-flat-button
        [ngClass]="{ 'inactive': doctor.id_estado === 0, 'active': doctor.id_estado === 1 }"
        (click)="toggleDisable()"
        type="button"
      >
        {{ doctor.id_estado === 1 ? 'Desactivar' : 'Activar' }}
      </button>
    </div>
  </form>
</div>
