<app-header></app-header>

<div class="atenciones-container">
  <h2>Atenciones del dueño {{ duenioId }}</h2>

  <div class="buttons-row">
    <button (click)="goBack()" class="btn-back">Atrás</button>
    <button (click)="irANuevaAtencion()" class="btn-crear-nueva">Crear Nueva Atención</button>
  </div>

  <div *ngIf="atenciones.length === 0" class="no-data">
    <p>No se están registrando atenciones para este usuario.</p>
  </div>

  <div class="grid" *ngIf="atenciones.length > 0">
    <div class="card" *ngFor="let atencion of paginatedAtenciones" (click)="irADiagnostico(atencion.atencionId)">
      <div class="profile-info">
        <h3>Atención #{{ atencion.atencionId }}</h3>
        <p><strong>Mascota:</strong> {{ atencion.mascotaNombre }} ({{ atencion.mascotaEspecie }})</p>
        <p><strong>Veterinaria:</strong> {{ atencion.nombreVeterinaria }}</p>
        <p><strong>Doctor:</strong> {{ atencion.nombreDoctor }} {{ atencion.apellidoDoctor }}</p>
        <p><strong>Inicio:</strong> {{ atencion.fechaInicio | date:'dd/MM/yyyy' }}</p>
        <p><strong>Fin:</strong> {{ atencion.fechaFin | date:'dd/MM/yyyy' }}</p>
        <p><strong>Estado:</strong> {{ atencion.estadoAtencion }}</p>
      </div>
    </div>
  </div>

   <!-- Paginador -->
  <div class="paginator">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>

</div>
