.container {
  padding: 32px 18px 18px 18px;  /* Espaciado alrededor del contenido */
  padding-top: 120px;  /* Espacio arriba para respetar el header */
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f6faf8;
  min-height: calc(100vh);  /* Ajuste para respetar el espacio del header */
  border-radius: 18px;
  box-sizing: border-box;  /* Asegura que el padding no cause desbordamiento */
}

.info {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.flex-grow {
  flex: 1;
}

.input-plus {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.recetas-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.recetas-table th,
.recetas-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.comentario-container {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.buttons.bottom {
  justify-content: flex-end;
  margin-top: 2rem;
}
