<!-- src/app/atenciones/medication-dialog/medication-dialog.component.html -->
<h2 mat-dialog-title>Registrar Medicamento</h2>
<mat-dialog-content class="form-dialog">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="medicamento.cantidad">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Indicaciones</mat-label>
    <textarea matInput rows="3" [(ngModel)]="medicamento.indicacion"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
