.atenciones-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 36px rgba(77, 182, 172, 0.2);
  box-sizing: border-box;
}

.form-title {
  font-size: 24px;
  color: #416785;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-section {
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: #416785;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  width: 80%;
  padding: 9px 12px;
  border: 1.5px solid #b2cbdf;
  border-radius: 12px;
  background: #f8fafd;
  font-size: 16px;
  color: #2d3a4b;
  transition: border 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #416785;
  outline: none;
}

.warning {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.form-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.save-button {
  background: linear-gradient(90deg, #416785 60%, #6C8CA3 100%);
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.save-button:hover {
  background: linear-gradient(90deg, #224346 60%, #416785 100%);
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #d32f2f;
}
